@media (max-width: 1000px) {
   #map{
       width: 90vw !important;
   }
   body{
       overflow-y: scroll;
   }
   .btn-container{
       margin: 20px;
   }
   .main-header{
       height: 60px;
       line-height: 60px;
   }
  
}

@media (max-height:800px) {
    .btn-container{
        margin: 0px;
    }
}

@media (max-width:640px) {
    .modal{
        width: 85vw;
        height: 85vh;
    }
}

@media (max-width:1250px) {
   .map-container{
       flex-direction: column;
   }
   .btn-container{
       right: 0px;
   }
}
