@media (max-width: 1000px) {
   #map{
       width: 90vw !important;
   }
   body{
       overflow-y: scroll;
   }
   .btn-container{
       margin: 20px;
   }
   .main-header{
       height: 60px;
       line-height: 60px;
   }
  
}

@media (max-width:460px) {
    .btn-container{
        margin: 0px;
    }
}
